<main>
  <div>
    <div class = 'mage'>
      <!-- <div class = 'meImage'>  <img src="../assets/Me.jpg"></div> -->
      <div class = 'meImage'>  <img src="../assets/me.jpg"></div>
      <div class = 'meImage'>  <img src="../assets/fffff.jpg"></div>
      <div class = 'meImage'>  <img src="../assets/hah.jpg"></div>
      <div class = 'meImage'>  <img src="../assets/qy.jpg"></div>
      <div class = 'meImage'>  <img src="../assets/uuuuuuu.jpg"></div>      <!-- <div>
        <p>Hello! I'm</p>
        <p>Daniil Ginzburg</p>
        <p>Front-End Developer</p>
      </div> -->
    </div>
    <div class="info">
      <div>
      <p>Hello! I'm Daniil Hinzburh</p>
      <p>I am 21, I have completed my bachelor's degree in computer science, I am a positive and ambitious person. At this time I want to get the hang of Front End so that I already know well about the capabilities of the browser, but later I want to learn C ++ C # and game development (higher mathematics, algebra / geometry).</p>
    </div>
      <div>
      <p>Hobby</p>
      <p>Anime, Books, Youtube, Gym. And in the near future I want to learn how to ride a motorcycle, I also like different activities, although rather games. I love team games, like paintball and computer team games like Dota 2.</p>
    </div>
    </div>
    <div class="container">
      <div>
        <h1>Skills</h1>
        <div>
          <div class="icon-card"><img src="../assets/Angular.png"><p>Angular</p>
            <p></p>
          </div>
          <div class="icon-card"><img src="../assets/css.png"><p>Css</p>
            <p></p>
          </div>
          <div class="icon-card"><img src="../assets/js.png"><p>Js</p>
          <p></p>
          </div>
          <div class="icon-card"><img src="../assets/typescript.png"><p>TS</p>
          <p></p>
          </div>
          <div class="icon-card"><img src="../assets/Sass.png"><p>Sass</p>
          <p></p>
          </div>
          <div class="icon-card"><img src="../assets/html.png"><p>Html</p>
          <p></p>
          </div>
        </div>
      </div>


    </div>
    <div class="exp">
      <h1>Experience</h1>
      <div class="container-cards">
        <div class="icon-card">
          <h3>LWO</h3>
          <p>Stack: Angular,TS,HTML,CSS,JS,<br>Redmine,GitLab,GitHub,RXJS,FireBase, Jasmine Karma
           <br>Exp:<br>
            Creating components,pages,tests,something services, working with bags.
          </p>
        </div>
        <div class="icon-card">
          <h3>Techvice</h3>
          <p>Stack: Angular,TS,HTML,CSS,ionic,<br>GitHub,RXJS
            <br>Exp:<br>
            New project with new technology Angular-ionic. Creating some new components (search, kanban-components)
          </p>
        </div>
        <div class="icon-card">
          <h3>Alone</h3>
          <p>Stack: Angular,TS,HTML,CSS,Rxjs,<br>FireBase,React
            <br>Exp:<br>
            Freedom. I did tasks on (codewars/1-2 on LeetCode), I did this pages, read about computer science, did 1 react web page. Games.
          </p>
        </div>
      </div>
      </div>
  </div>
</main>
