<main>
  <div>
    <div>
      <div class = 'meImage'>  <img src="../assets/Me.jpg"></div>
      <div>
        <p>Daniil Ginzburg</p>
        <p>Front-End Developer</p>
      </div>
      <div></div>
    </div>
    <div>
      <div>
        <div><h1>Skills</h1>
          <div><img src="../assets/Angular.png"><p>Angular</p>
            <p></p>
          </div>
          <div><img src="../assets/css.png"><p>Css</p>
            <p></p>
          </div>
          <div><img src="../assets/js.png"><p>Js</p>
          <p></p>
          </div>
          <div><img src="../assets/typescript.png"><p>TS</p>
          <p></p>
          </div>
          <div><img src="../assets/Sass.png"><p>Sass</p>
          <p></p>
          </div>
          <div><img src="../assets/React.png"><p>React</p>
          <p></p>
          </div>
          <div><img src="../assets/html.png"><p>Html</p>
          <p></p>
          </div>
        </div>
        <div><h1>Expirence</h1></div>
      </div>
      <!-- <div><h1>Info</h1></div> -->
    </div>
  </div>
</main>
